* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
    margin-bottom: 6.25rem !important;
}

.encabezado {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    
    & .navbar {
        padding: .5rem 3rem;
        border-radius: 0 0 1rem 1rem;
        background-color: rgba(255, 255, 255, .75);
        backdrop-filter: blur(6px);

        & .navbar-brand {
            & .navbar-item {
                & .logoImg {
                    max-height: 85px !important;
                    border-radius: .725rem;
                }
            }
        }
    }
}

.redactar{
    max-width: 40rem;
    padding: 1px;
    padding-top: calc(6.25rem / 2);
    margin: auto 0;
    text-align: center;
    font-size: large;
}

.formulario{    
    padding-top: 12.5rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    appearance: none;
    -webkit-appearance: none; 
    margin: 0;
}

input[type=number] { 
    appearance: textfield;
    -moz-appearance:textfield;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fieldBtn {
    flex-direction: row;
    justify-content: center !important;
    margin-top: 2.225rem;
    gap: 1rem;
}

.certificados {
    justify-content: center !important;
}